
@{
    ViewData["Title"] = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        p.bottom {
            margin-bottom: 50px;
        }
    </style>
</head>

<body>
<h1>
    Skontaktuj się z nami
</h1>

<h3>Adres e-mail</h3>
<p>inetsklep@inet.pl</p>


<h3>Numer telefonu</h3>
<p>Centrum obsługi klienta: +48502123456</p>
<p>Warszawa: +48510101101</p>
<p>Bielsko-Biała: +48510101123</p>


<h3>Adresy sklepów stacjonarnych</h3>
<p>Warszawa - ul. Jana Kazimierza 10, 00-001</p>
<p class="bottom">Bielsko-Biała - ul. Malinowa 1, 45-300</p>

</body>
