@model INET_Project.Models.ShippingDetail

@{
    ViewData["Title"] = "Zamówienie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Twoje zamówienie</h1>

<p>Wypełnij wszystkie pola</p>

<hr />

@{
    var products = INET_Project.Controllers.HomeController.Products;


    if (Context.Request.Query["item"].FirstOrDefault() != null)
    {
        string itemid = Context.Request.Query["item"].FirstOrDefault();
        products = products.Where(x => x.Product.ProductID == Convert.ToInt32(itemid)).ToList();
        INET_Project.Controllers.HomeController.Products = products;
    }

}

<form asp-action="Order" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <tbody>
            @foreach (var item in products)
            {
                <tr>
                    <td>

                        @if (item.ProductPicture.PicturePath != null)
                        {
                            <img src="/@item.ProductPicture.PicturePath" width="300" height="300" style="border: 3px inset #343a40;">
                        }

                    </td>
                    <td style="vertical-align:middle">
                        <a class="active" style="font:bold 30px Arial">
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </a>
                        <br>
                        <a class="active" style="font:normal 20px Arial">
                            @Html.DisplayFor(modelItem => item.Product.ProductDescription)
                        </a>
                    </td>
                    <td style="vertical-align:middle; font:bold 20px Arial">
                        @Html.DisplayFor(modelItem => item.Product.UnitPrice) zł
                    </td>
                    <td style="vertical-align:middle">
                        <input asp-for="OrderDetail.Quantity" required placeholder="Liczba" min="1" max="20"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Client.FirstName" class="control-label"></label>
                <input asp-for="Client.FirstName" class="form-control" />
                <span asp-validation-for="Client.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.SecondName" class="control-label"></label>
                <input asp-for="Client.SecondName" class="form-control" />
                <span asp-validation-for="Client.SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.EmailAddress" class="control-label"></label>
                <input asp-for="Client.EmailAddress" class="form-control" />
                <span asp-validation-for="Client.EmailAddress" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top:0px">
                <label asp-for="TypeOfOrder" class="control-label"></label>
                <select asp-for="TypeOfOrder" asp-items="@Html.GetEnumSelectList<TypeOfOrder>()">
                    <option value="">Wybierz...</option>
                </select>
                <span asp-validation-for="TypeOfOrder" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Client.City" class="control-label"></label>
                <input asp-for="Client.City" class="form-control" />
                <span asp-validation-for="Client.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Street" class="control-label"></label>
                <input asp-for="Client.Street" class="form-control" />
                <span asp-validation-for="Client.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.BuildingNumber" class="control-label"></label>
                <input asp-for="Client.BuildingNumber" class="form-control" />
                <span asp-validation-for="Client.BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Country" class="control-label"></label>
                <input asp-for="Client.Country" class="form-control" />
                <span asp-validation-for="Client.Country" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="form-group">
                <input type="submit" value="Przejdź do podsumowania" class="btn mr-md-2 mb-md-0 mb-2 btn-dark" />
            </div>
            <div class="form-group">
                <input type="submit" value="Powrót" asp-action="Main_Page" class="btn mr-md-2 mb-md-0 mb-2 btn-dark" />
            </div>
        </div>
    </div>

</form>


