@model INET_Project.Models.ProductModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h4>Dodawanie produktów</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Dashboard" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Product.ProductName" class="control-label"></label>
                    <input asp-for="Product.ProductName" class="form-control" />
                    <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.ProductDescription" class="control-label"></label>
                    <input asp-for="Product.ProductDescription" class="form-control" />
                    <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <span>Dodaj zdjęcie produktu</span>
                    <input type="file" name="picture" accept="image/*" />
                </div>
                <div class="form-group">
                    <label asp-for="Product.UnitPrice" class="control-label"></label>
                    <input asp-for="Product.UnitPrice" class="form-control" />
                    <span asp-validation-for="Product.UnitPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.QtAvailable" class="control-label"></label>
                    <input asp-for="Product.QtAvailable" class="form-control" />
                    <span asp-validation-for="Product.QtAvailable" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.Brand" class="control-label"></label>
                    <input asp-for="Product.Brand" class="form-control" />
                    <span asp-validation-for="Product.Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.ProducerCode" class="control-label"></label>
                    <input asp-for="Product.ProducerCode" class="form-control" />
                    <span asp-validation-for="Product.ProducerCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" value="Create" id="submit-all" class="btn btn-dark btn-block"><i class="fa fa-plus-square"> Dodaj</i></button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        Dropzone.options.fileUpload = {
            url: '/Admin/Uploadfile',
            paramName: "file",
            autoProcessQueue: true,
            maxFilesize: 30,
            resizedWidth: 512,
            addRemoveLinks: true,
            maxFiles: 1,
            acceptedFiles: "image/jpeg,image/png,image/gif",
            init: function () {
                var submitButton = document.querySelector("#submit-all");
                var wrapperThis = this;

                submitButton.addEventListener("click", function () {
                    wrapperThis.processQueue();
                });

                this.on('sendimgmultiple', function (data, xhr, formData) {
                    formData.append("sth", $("#submit-all").val());
                });
            }
        };
    </script>
}
