@media (min-width: 0px) {
	.mediaViewInfo {
		--web-view-name: Web Menu;
		--web-view-id: Web_Menu;
		--web-scale-on-resize: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_Menu {
		position: absolute;
		display: block;
		width: 1920px;
		height: 2734px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Web Menu;
		--web-view-id: Web_Menu;
		--web-scale-on-resize: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	@keyframes fadein {
	
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	
	}
	#ContentBG_h {
		opacity: 0.1;
		position: absolute;
		width: 1920px;
		height: 2917.067px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Bottom_h {
		position: absolute;
		width: 3149px;
		height: 2397px;
		left: -91.618px;
		top: 1755px;
		overflow: visible;
	}
	#BottomBG_ia {
		position: absolute;
		width: 3149px;
		height: 2397px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#BottomBG_ib {
		position: absolute;
		width: 2371.023px;
		height: 2220.444px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_1_id {
		fill: url(#Path_1_id);
	}
	.Path_1_id {
		overflow: visible;
		position: absolute;
		width: 2371.023px;
		height: 2220.444px;
		left: 777.977px;
		top: 176.556px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Contact_ie {
		position: absolute;
		width: 341px;
		height: 178px;
		left: 1401.162px;
		top: 689px;
		overflow: visible;
	}
	#phone_PNG48996_if {
		position: absolute;
		width: 48px;
		height: 48px;
		left: 42px;
		top: 24px;
		overflow: visible;
	}
	#ID33_8888_888_ig {
		left: 117px;
		top: 24px;
		position: absolute;
		overflow: visible;
		width: 185px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		color: rgba(255,255,255,1);
	}
	#mail-icon_ih {
		position: absolute;
		width: 115px;
		height: 115px;
		left: 8px;
		top: 63px;
		overflow: visible;
	}
	#inetinetpl_ii {
		left: 117px;
		top: 91px;
		position: absolute;
		overflow: visible;
		width: 183px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_5_ij {
		fill: transparent;
		stroke: rgba(102,91,181,1);
		stroke-width: 5px;
		stroke-linejoin: round;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_5_ij {
		position: absolute;
		overflow: visible;
		width: 341px;
		height: 168px;
		left: 0px;
		top: 0px;
	}
	#Content_ik {
		position: absolute;
		width: 1670px;
		height: 1435px;
		left: 122px;
		top: 420px;
		overflow: visible;
	}
	#ContentBG_il {
		fill: rgba(255,255,255,0.302);
	}
	.ContentBG_il {
		position: absolute;
		overflow: visible;
		width: 1670px;
		height: 1435px;
		left: 0px;
		top: 0px;
	}
	#Courier_im {
		position: absolute;
		width: 1352.205px;
		height: 317.735px;
		left: 195.795px;
		top: 1018.01px;
		overflow: visible;
	}
	#DOSTAWA_JU_NA_NASTPNY_DZIE_in {
		left: 599.205px;
		top: 61.99px;
		position: absolute;
		overflow: visible;
		width: 420px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(0,0,0,1);
		text-transform: capitalize;
	}
	#Lorem_ipsum_dolor_sit_amet_con_io {
		left: 599.205px;
		top: 115.99px;
		position: absolute;
		overflow: visible;
		width: 754px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: lighter;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#parcel_ip {
		position: absolute;
		width: 347.935px;
		height: 317.735px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_7_iq {
		fill: rgba(0,0,0,1);
	}
	.Path_7_iq {
		overflow: visible;
		position: absolute;
		width: 24.505px;
		height: 9.941px;
		left: 191.712px;
		top: 307.794px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_8_ir {
		fill: rgba(0,0,0,1);
	}
	.Path_8_ir {
		overflow: visible;
		position: absolute;
		width: 347.935px;
		height: 227.202px;
		left: 0px;
		top: 90.533px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_9_is {
		fill: rgba(0,0,0,1);
	}
	.Path_9_is {
		overflow: visible;
		position: absolute;
		width: 24.555px;
		height: 9.941px;
		left: 241.07px;
		top: 307.794px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_10_it {
		fill: rgba(0,0,0,1);
	}
	.Path_10_it {
		overflow: visible;
		position: absolute;
		width: 347.934px;
		height: 100.474px;
		left: 0.001px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_11_iu {
		fill: rgba(0,0,0,1);
	}
	.Path_11_iu {
		overflow: visible;
		position: absolute;
		width: 82.387px;
		height: 100.474px;
		left: 132.784px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_12_iv {
		fill: rgba(0,0,0,1);
	}
	.Path_12_iv {
		overflow: visible;
		position: absolute;
		width: 82.372px;
		height: 82.367px;
		left: 132.782px;
		top: 90.533px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_13_iw {
		fill: rgba(0,0,0,1);
	}
	.Path_13_iw {
		overflow: visible;
		position: absolute;
		width: 9.941px;
		height: 63.235px;
		left: 101.209px;
		top: 218.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_14_ix {
		fill: rgba(0,0,0,1);
	}
	.Path_14_ix {
		overflow: visible;
		position: absolute;
		width: 38.68px;
		height: 24.32px;
		left: 86.85px;
		top: 218.062px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_15_iy {
		fill: rgba(0,0,0,1);
	}
	.Path_15_iy {
		overflow: visible;
		position: absolute;
		width: 9.941px;
		height: 63.235px;
		left: 46.137px;
		top: 218.414px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_16_iz {
		fill: rgba(0,0,0,1);
	}
	.Path_16_iz {
		overflow: visible;
		position: absolute;
		width: 38.65px;
		height: 24.32px;
		left: 31.782px;
		top: 218.062px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Percentage_i {
		position: absolute;
		width: 1344.581px;
		height: 322.516px;
		left: 203.419px;
		top: 495.806px;
		overflow: visible;
	}
	#PercentageDesc_i {
		left: 591.581px;
		top: 121.194px;
		position: absolute;
		overflow: visible;
		width: 754px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: lighter;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#Codzienne_oferty_specjalne_-_z_i {
		left: 591.581px;
		top: 62.194px;
		position: absolute;
		overflow: visible;
		width: 675px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(0,0,0,1);
	}
	#offer_i {
		position: absolute;
		width: 324.909px;
		height: 322.516px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_26_i {
		fill: rgba(0,0,0,1);
	}
	.Path_26_i {
		overflow: visible;
		position: absolute;
		width: 220.448px;
		height: 212.557px;
		left: 86.29px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_27_i {
		fill: rgba(0,0,0,1);
	}
	.Path_27_i {
		overflow: visible;
		position: absolute;
		width: 83.79px;
		height: 126.949px;
		left: 154.634px;
		top: 42.783px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_28_i {
		fill: rgba(0,0,0,1);
	}
	.Path_28_i {
		overflow: visible;
		position: absolute;
		width: 53.429px;
		height: 60.926px;
		left: 137.19px;
		top: 45.651px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_29_i {
		fill: rgba(0,0,0,1);
	}
	.Path_29_i {
		overflow: visible;
		position: absolute;
		width: 53.429px;
		height: 60.923px;
		left: 202.408px;
		top: 105.989px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_30_i {
		fill: rgba(0,0,0,1);
	}
	.Path_30_i {
		overflow: visible;
		position: absolute;
		width: 324.908px;
		height: 122.017px;
		left: 0px;
		top: 200.499px;
		transform: matrix(1,0,0,1,0,0);
	}
	#RTX_i {
		position: absolute;
		width: 1502px;
		height: 282px;
		left: 60px;
		top: 38px;
		overflow: visible;
	}
	#KARTY_NVIDIA_RTX_z_SERII_30_DO_ja {
		left: 738px;
		top: 62px;
		position: absolute;
		overflow: visible;
		width: 682px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(0,0,0,1);
		text-transform: capitalize;
	}
	#Ukady_graficzne_GeForce_RTX_z__jb {
		left: 738px;
		top: 121px;
		position: absolute;
		overflow: visible;
		width: 765px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: lighter;
		font-size: 25px;
		color: rgba(0,0,0,1);
	}
	#geforce-rtx-3080-shop-630-d2x_jc {
		position: absolute;
		width: 625px;
		height: 282px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#TopWithMenu_jd {
		position: absolute;
		width: 1920px;
		height: 307.097px;
		left: 0px;
		top: -19.097px;
		overflow: visible;
	}
	#TopMenu_je {
		mix-blend-mode: normal;
		position: absolute;
		width: 1670px;
		height: 213px;
		left: 122px;
		top: 94.097px;
		overflow: visible;
	}
	#Rectangle_6_jf {
		filter: blur(5px);
		fill: rgba(255,255,255,1);
		stroke: rgba(102,91,185,1);
		stroke-width: 4px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_6_jf {
		position: absolute;
		overflow: visible;
		width: 1670px;
		height: 213px;
		left: 0px;
		top: 0px;
	}
	#MenuContent_jg {
		position: absolute;
		width: 1468.014px;
		height: 173.071px;
		left: 96.589px;
		top: 24px;
		overflow: visible;
	}
	#gfx_jh {
		position: absolute;
		width: 254.013px;
		height: 32px;
		left: 0px;
		top: 2.071px;
		overflow: visible;
	}
	#KARTY_GRAFICZNE_ji {
		left: 55.013px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 200px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#graphics-card_jj {
		position: absolute;
		width: 41px;
		height: 28.7px;
		left: 0px;
		top: 3.029px;
		overflow: visible;
	}
	#Path_31_jk {
		fill: rgba(72,56,188,1);
	}
	.Path_31_jk {
		overflow: visible;
		position: absolute;
		width: 5.467px;
		height: 1.366px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_32_jl {
		fill: rgba(72,56,188,1);
	}
	.Path_32_jl {
		overflow: visible;
		position: absolute;
		width: 1.367px;
		height: 17.766px;
		left: 4.1px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_33_jm {
		fill: rgba(72,56,188,1);
	}
	.Path_33_jm {
		overflow: visible;
		position: absolute;
		width: 4.101px;
		height: 5.467px;
		left: 1.366px;
		top: 6.149px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_34_jn {
		fill: rgba(72,56,188,1);
	}
	.Path_34_jn {
		overflow: visible;
		position: absolute;
		width: 4.101px;
		height: 4.1px;
		left: 1.366px;
		top: 15.716px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_35_jo {
		fill: rgba(72,56,188,1);
	}
	.Path_35_jo {
		overflow: visible;
		position: absolute;
		width: 1.367px;
		height: 3.417px;
		left: 11.616px;
		top: 25.283px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_36_jp {
		fill: rgba(72,56,188,1);
	}
	.Path_36_jp {
		overflow: visible;
		position: absolute;
		width: 6.833px;
		height: 6.151px;
		left: 8.884px;
		top: 22.549px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_37_jq {
		fill: rgba(72,56,188,1);
	}
	.Path_37_jq {
		overflow: visible;
		position: absolute;
		width: 4.101px;
		height: 1.367px;
		left: 1.366px;
		top: 3.416px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_38_jr {
		fill: rgba(72,56,188,1);
	}
	.Path_38_jr {
		overflow: visible;
		position: absolute;
		width: 4.101px;
		height: 1.367px;
		left: 1.366px;
		top: 12.983px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_39_js {
		fill: rgba(72,56,188,1);
	}
	.Path_39_js {
		overflow: visible;
		position: absolute;
		width: 36.9px;
		height: 20.5px;
		left: 4.1px;
		top: 3.416px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_40_jt {
		fill: rgba(72,56,188,1);
	}
	.Path_40_jt {
		overflow: visible;
		position: absolute;
		width: 15.033px;
		height: 15.034px;
		left: 23.233px;
		top: 6.15px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_41_ju {
		fill: rgba(72,56,188,1);
	}
	.Path_41_ju {
		overflow: visible;
		position: absolute;
		width: 5.467px;
		height: 5.467px;
		left: 28.016px;
		top: 10.933px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_42_jv {
		fill: rgba(72,56,188,1);
	}
	.Path_42_jv {
		overflow: visible;
		position: absolute;
		width: 5.467px;
		height: 4.784px;
		left: 25.966px;
		top: 7.516px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_43_jw {
		fill: rgba(72,56,188,1);
	}
	.Path_43_jw {
		overflow: visible;
		position: absolute;
		width: 5.467px;
		height: 4.784px;
		left: 30.066px;
		top: 15.033px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_44_jx {
		fill: rgba(72,56,188,1);
	}
	.Path_44_jx {
		overflow: visible;
		position: absolute;
		width: 4.784px;
		height: 5.467px;
		left: 24.6px;
		top: 12.983px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_45_jy {
		fill: rgba(72,56,188,1);
	}
	.Path_45_jy {
		overflow: visible;
		position: absolute;
		width: 4.784px;
		height: 5.467px;
		left: 32.116px;
		top: 8.883px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_46_jz {
		fill: rgba(72,56,188,1);
	}
	.Path_46_jz {
		overflow: visible;
		position: absolute;
		width: 6.682px;
		height: 2.644px;
		left: 23.302px;
		top: 10.74px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_47_j {
		fill: rgba(72,56,188,1);
	}
	.Path_47_j {
		overflow: visible;
		position: absolute;
		width: 6.681px;
		height: 2.643px;
		left: 31.517px;
		top: 13.95px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_48_j {
		fill: rgba(72,56,188,1);
	}
	.Path_48_j {
		overflow: visible;
		position: absolute;
		width: 2.637px;
		height: 6.682px;
		left: 27.83px;
		top: 14.432px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_49_j {
		fill: rgba(72,56,188,1);
	}
	.Path_49_j {
		overflow: visible;
		position: absolute;
		width: 2.637px;
		height: 6.682px;
		left: 31.033px;
		top: 6.219px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_50_j {
		fill: rgba(72,56,188,1);
	}
	.Path_50_j {
		overflow: visible;
		position: absolute;
		width: 16.401px;
		height: 6.151px;
		left: 18.45px;
		top: 22.549px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_51_j {
		fill: rgba(72,56,188,1);
	}
	.Path_51_j {
		overflow: visible;
		position: absolute;
		width: 1.367px;
		height: 3.417px;
		left: 21.866px;
		top: 25.283px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_52_j {
		fill: rgba(72,56,188,1);
	}
	.Path_52_j {
		overflow: visible;
		position: absolute;
		width: 1.367px;
		height: 3.417px;
		left: 30.066px;
		top: 25.283px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_53_j {
		fill: rgba(72,56,188,1);
	}
	.Path_53_j {
		overflow: visible;
		position: absolute;
		width: 1.367px;
		height: 3.417px;
		left: 27.333px;
		top: 25.283px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_54_j {
		fill: rgba(72,56,188,1);
	}
	.Path_54_j {
		overflow: visible;
		position: absolute;
		width: 1.367px;
		height: 3.417px;
		left: 24.6px;
		top: 25.283px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_55_j {
		fill: rgba(72,56,188,1);
	}
	.Path_55_j {
		overflow: visible;
		position: absolute;
		width: 20.5px;
		height: 20.5px;
		left: 4.1px;
		top: 3.416px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_56_j {
		fill: rgba(72,56,188,1);
	}
	.Path_56_j {
		overflow: visible;
		position: absolute;
		width: 4.101px;
		height: 1.367px;
		left: 15.033px;
		top: 12.983px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_57_ka {
		fill: rgba(72,56,188,1);
	}
	.Path_57_ka {
		overflow: visible;
		position: absolute;
		width: 8.884px;
		height: 1.367px;
		left: 4.1px;
		top: 12.983px;
		transform: matrix(1,0,0,1,0,0);
	}
	#ram_kb {
		position: absolute;
		width: 201.013px;
		height: 32px;
		left: 1px;
		top: 45.071px;
		overflow: visible;
	}
	#PAMICI_RAM_kc {
		left: 54.013px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 148px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#ram_kd {
		position: absolute;
		width: 43.669px;
		height: 18.196px;
		left: 0px;
		top: 6.902px;
		overflow: visible;
	}
	#Path_58_ke {
		fill: rgba(71,55,187,1);
	}
	.Path_58_ke {
		overflow: visible;
		position: absolute;
		width: 43.669px;
		height: 18.196px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_59_kf {
		fill: rgba(71,55,187,1);
	}
	.Path_59_kf {
		overflow: visible;
		position: absolute;
		width: 5.823px;
		height: 8.734px;
		left: 18.923px;
		top: 2.911px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_60_kg {
		fill: rgba(71,55,187,1);
	}
	.Path_60_kg {
		overflow: visible;
		position: absolute;
		width: 5.823px;
		height: 8.734px;
		left: 26.202px;
		top: 2.911px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_61_kh {
		fill: rgba(71,55,187,1);
	}
	.Path_61_kh {
		overflow: visible;
		position: absolute;
		width: 5.823px;
		height: 8.734px;
		left: 4.367px;
		top: 2.911px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_62_ki {
		fill: rgba(71,55,187,1);
	}
	.Path_62_ki {
		overflow: visible;
		position: absolute;
		width: 5.823px;
		height: 8.734px;
		left: 11.646px;
		top: 2.911px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_63_kj {
		fill: rgba(71,55,187,1);
	}
	.Path_63_kj {
		overflow: visible;
		position: absolute;
		width: 5.823px;
		height: 8.734px;
		left: 33.48px;
		top: 2.911px;
		transform: matrix(1,0,0,1,0,0);
	}
	#cpu_kk {
		position: absolute;
		width: 179.013px;
		height: 32px;
		left: 7px;
		top: 88.071px;
		overflow: visible;
	}
	#PROCESORY_kl {
		left: 48.013px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 132px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#cpu_km {
		position: absolute;
		width: 28.986px;
		height: 28.986px;
		left: 0px;
		top: 0.929px;
		overflow: visible;
	}
	#Group_2_kn {
		position: absolute;
		width: 14.09px;
		height: 14.09px;
		left: 7.448px;
		top: 7.448px;
		overflow: visible;
	}
	#Group_1_ko {
		position: absolute;
		width: 14.09px;
		height: 14.09px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_64_kp {
		fill: rgba(71,55,187,1);
	}
	.Path_64_kp {
		overflow: visible;
		position: absolute;
		width: 14.09px;
		height: 14.09px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_4_kq {
		position: absolute;
		width: 28.986px;
		height: 28.986px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_3_kr {
		position: absolute;
		width: 28.986px;
		height: 28.986px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_65_ks {
		fill: rgba(71,55,187,1);
	}
	.Path_65_ks {
		overflow: visible;
		position: absolute;
		width: 28.986px;
		height: 28.986px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#powerSupply_kt {
		position: absolute;
		width: 163.013px;
		height: 42px;
		left: 8px;
		top: 131.071px;
		overflow: visible;
	}
	#ZASILACZE__ku {
		left: 47.013px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 117px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#Page-1_kv {
		position: absolute;
		width: 26.333px;
		height: 26.333px;
		left: 0px;
		top: 4.596px;
		overflow: visible;
	}
	#ID005---Power-Supply_kw {
		position: absolute;
		width: 26.333px;
		height: 26.333px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Shape_kx {
		fill: rgba(71,55,187,1);
	}
	.Shape_kx {
		overflow: visible;
		position: absolute;
		width: 26.333px;
		height: 26.333px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_ky {
		fill: rgba(71,55,187,1);
	}
	.Shape_ky {
		overflow: visible;
		position: absolute;
		width: 2.903px;
		height: 1.874px;
		left: 5.476px;
		top: 3.669px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_kz {
		fill: rgba(71,55,187,1);
	}
	.Shape_kz {
		overflow: visible;
		position: absolute;
		width: 1.591px;
		height: 2.765px;
		left: 3.585px;
		top: 6.013px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_k {
		fill: rgba(71,55,187,1);
	}
	.Shape_k {
		overflow: visible;
		position: absolute;
		width: 3.419px;
		height: 3.431px;
		left: 5.381px;
		top: 5.35px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_la {
		fill: rgba(71,55,187,1);
	}
	.Shape_la {
		overflow: visible;
		position: absolute;
		width: 1.66px;
		height: 1.661px;
		left: 7.211px;
		top: 7.209px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_lb {
		fill: rgba(71,55,187,1);
	}
	.Shape_lb {
		overflow: visible;
		position: absolute;
		width: 2.902px;
		height: 1.874px;
		left: 5.489px;
		top: 12.983px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_lc {
		fill: rgba(71,55,187,1);
	}
	.Shape_lc {
		overflow: visible;
		position: absolute;
		width: 1.57px;
		height: 2.734px;
		left: 3.571px;
		top: 9.722px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_ld {
		fill: rgba(71,55,187,1);
	}
	.Shape_ld {
		overflow: visible;
		position: absolute;
		width: 3.42px;
		height: 3.427px;
		left: 5.372px;
		top: 9.723px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_le {
		fill: rgba(71,55,187,1);
	}
	.Shape_le {
		overflow: visible;
		position: absolute;
		width: 1.659px;
		height: 1.658px;
		left: 7.221px;
		top: 9.661px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_lf {
		fill: rgba(71,55,187,1);
	}
	.Shape_lf {
		overflow: visible;
		position: absolute;
		width: 14.922px;
		height: 14.922px;
		left: 1.755px;
		top: 1.756px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_lg {
		fill: rgba(71,55,187,1);
	}
	.Shape_lg {
		overflow: visible;
		position: absolute;
		width: 2.902px;
		height: 1.874px;
		left: 10.042px;
		top: 3.669px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_lh {
		fill: rgba(71,55,187,1);
	}
	.Shape_lh {
		overflow: visible;
		position: absolute;
		width: 1.563px;
		height: 2.727px;
		left: 13.291px;
		top: 6.077px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_li {
		fill: rgba(71,55,187,1);
	}
	.Shape_li {
		overflow: visible;
		position: absolute;
		width: 3.458px;
		height: 3.429px;
		left: 9.643px;
		top: 5.375px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_lj {
		fill: rgba(71,55,187,1);
	}
	.Shape_lj {
		overflow: visible;
		position: absolute;
		width: 1.663px;
		height: 1.664px;
		left: 9.549px;
		top: 7.206px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_lk {
		fill: rgba(71,55,187,1);
	}
	.Shape_lk {
		overflow: visible;
		position: absolute;
		width: 2.885px;
		height: 1.865px;
		left: 10.054px;
		top: 12.991px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_ll {
		fill: rgba(71,55,187,1);
	}
	.Shape_ll {
		overflow: visible;
		position: absolute;
		width: 1.561px;
		height: 2.718px;
		left: 13.293px;
		top: 9.737px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_lm {
		fill: rgba(71,55,187,1);
	}
	.Shape_lm {
		overflow: visible;
		position: absolute;
		width: 3.434px;
		height: 3.432px;
		left: 9.641px;
		top: 9.722px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_ln {
		fill: rgba(71,55,187,1);
	}
	.Shape_ln {
		overflow: visible;
		position: absolute;
		width: 1.67px;
		height: 1.664px;
		left: 9.552px;
		top: 9.655px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Oval_lf {
		fill: rgba(71,55,187,1);
	}
	.Oval_lf {
		position: absolute;
		overflow: visible;
		width: 0px;
		height: 0px;
		left: 2.411px;
		top: 2.333px;
	}
	#Oval_lg {
		fill: rgba(71,55,187,1);
	}
	.Oval_lg {
		position: absolute;
		overflow: visible;
		width: 0px;
		height: 1px;
		left: 2.411px;
		top: 15.333px;
	}
	#Oval_lh {
		fill: rgba(71,55,187,1);
	}
	.Oval_lh {
		position: absolute;
		overflow: visible;
		width: 0px;
		height: 0px;
		left: 24.411px;
		top: 2.333px;
	}
	#Oval_li {
		fill: rgba(71,55,187,1);
	}
	.Oval_li {
		position: absolute;
		overflow: visible;
		width: 0px;
		height: 1px;
		left: 24.411px;
		top: 15.333px;
	}
	#Oval_lj {
		fill: rgba(71,55,187,1);
	}
	.Oval_lj {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 0px;
		left: 15.411px;
		top: 2.333px;
	}
	#Oval_lk {
		fill: rgba(71,55,187,1);
	}
	.Oval_lk {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 15.411px;
		top: 15.333px;
	}
	#Shape_lo {
		fill: rgba(71,55,187,1);
	}
	.Shape_lo {
		overflow: visible;
		position: absolute;
		width: 5.267px;
		height: 3.511px;
		left: 18.433px;
		top: 7.022px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_lp {
		fill: rgba(71,55,187,1);
	}
	.Shape_lp {
		overflow: visible;
		position: absolute;
		width: 5.267px;
		height: 4.389px;
		left: 18.433px;
		top: 11.411px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Shape_lq {
		fill: rgba(71,55,187,1);
	}
	.Shape_lq {
		overflow: visible;
		position: absolute;
		width: 2.633px;
		height: 4.363px;
		left: 19.75px;
		top: 1.769px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Oval_lo {
		fill: rgba(71,55,187,1);
	}
	.Oval_lo {
		position: absolute;
		overflow: visible;
		width: 0px;
		height: 1px;
		left: 20.411px;
		top: 12.333px;
	}
	#Oval_lp {
		fill: rgba(71,55,187,1);
	}
	.Oval_lp {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 21.411px;
		top: 12.333px;
	}
	#cooler_lq {
		position: absolute;
		width: 180.485px;
		height: 32px;
		left: 440.528px;
		top: 2.071px;
		overflow: visible;
	}
	#CHODZENIE_lr {
		left: 40.485px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 141px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#cooler_ls {
		position: absolute;
		width: 26.805px;
		height: 26.805px;
		left: 0px;
		top: 4.263px;
		overflow: visible;
	}
	#Group_6_lt {
		position: absolute;
		width: 1.116px;
		height: 1.117px;
		left: 22.896px;
		top: 2.792px;
		overflow: visible;
	}
	#Group_5_lu {
		position: absolute;
		width: 1.116px;
		height: 1.117px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_66_lv {
		fill: rgba(71,55,187,1);
	}
	.Path_66_lv {
		overflow: visible;
		position: absolute;
		width: 1.116px;
		height: 1.117px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_8_lw {
		position: absolute;
		width: 1.117px;
		height: 1.117px;
		left: 2.793px;
		top: 2.792px;
		overflow: visible;
	}
	#Group_7_lx {
		position: absolute;
		width: 1.117px;
		height: 1.117px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_67_ly {
		fill: rgba(71,55,187,1);
	}
	.Path_67_ly {
		overflow: visible;
		position: absolute;
		width: 1.116px;
		height: 1.117px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_10_lz {
		position: absolute;
		width: 1.117px;
		height: 1.117px;
		left: 2.793px;
		top: 22.896px;
		overflow: visible;
	}
	#Group_9_l {
		position: absolute;
		width: 1.117px;
		height: 1.117px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_68_l {
		fill: rgba(71,55,187,1);
	}
	.Path_68_l {
		overflow: visible;
		position: absolute;
		width: 1.116px;
		height: 1.117px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_12_l {
		position: absolute;
		width: 1.116px;
		height: 1.117px;
		left: 22.896px;
		top: 22.896px;
		overflow: visible;
	}
	#Group_11_l {
		position: absolute;
		width: 1.116px;
		height: 1.117px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_69_l {
		fill: rgba(71,55,187,1);
	}
	.Path_69_l {
		overflow: visible;
		position: absolute;
		width: 1.116px;
		height: 1.117px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_14_l {
		position: absolute;
		width: 26.805px;
		height: 26.805px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_13_l {
		position: absolute;
		width: 26.805px;
		height: 26.805px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_70_l {
		fill: rgba(71,55,187,1);
	}
	.Path_70_l {
		overflow: visible;
		position: absolute;
		width: 26.805px;
		height: 26.805px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_16_l {
		position: absolute;
		width: 22.34px;
		height: 22.338px;
		left: 2.233px;
		top: 2.234px;
		overflow: visible;
	}
	#Group_15_l {
		position: absolute;
		width: 22.34px;
		height: 22.338px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_71_ma {
		fill: rgba(71,55,187,1);
	}
	.Path_71_ma {
		overflow: visible;
		position: absolute;
		width: 22.34px;
		height: 22.338px;
		left: -0.001px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_18_mb {
		position: absolute;
		width: 1.117px;
		height: 1.117px;
		left: 12.845px;
		top: 12.844px;
		overflow: visible;
	}
	#Group_17_mc {
		position: absolute;
		width: 1.117px;
		height: 1.117px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_72_md {
		fill: rgba(71,55,187,1);
	}
	.Path_72_md {
		overflow: visible;
		position: absolute;
		width: 1.116px;
		height: 1.117px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#motherboard_me {
		position: absolute;
		width: 208.348px;
		height: 32px;
		left: 441.667px;
		top: 45.071px;
		overflow: visible;
	}
	#PYTY_GWNE_mf {
		left: 39.348px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 170px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#motherboard_mg {
		position: absolute;
		width: 25.333px;
		height: 22.377px;
		left: 0px;
		top: 4.552px;
		overflow: visible;
	}
	#Group_19_mh {
		position: absolute;
		width: 25.333px;
		height: 22.377px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Ellipse_1_mi {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_1_mi {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 0px;
		left: 12.744px;
		top: 9.378px;
	}
	#Ellipse_2_mj {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_2_mj {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 12.744px;
		top: 9.378px;
	}
	#Ellipse_3_mk {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_3_mk {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 12.744px;
		top: 11.378px;
	}
	#Ellipse_4_ml {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_4_ml {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 12.744px;
		top: 5.378px;
	}
	#Ellipse_5_mm {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_5_mm {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 10.744px;
		top: 6.378px;
	}
	#Ellipse_6_mn {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_6_mn {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 10.744px;
		top: 7.378px;
	}
	#Ellipse_7_mo {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_7_mo {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 23.744px;
		top: 6.378px;
	}
	#Ellipse_8_mp {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_8_mp {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 0px;
		left: 23.744px;
		top: 9.378px;
	}
	#Ellipse_9_mq {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_9_mq {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 0px;
		left: 7.744px;
		top: 15.378px;
	}
	#Ellipse_10_mr {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_10_mr {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 0px;
		left: 6.744px;
		top: 15.378px;
	}
	#Ellipse_11_ms {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_11_ms {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 0px;
		left: 5.744px;
		top: 15.378px;
	}
	#Ellipse_12_mt {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_12_mt {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 1.744px;
		top: 9.378px;
	}
	#Ellipse_13_mu {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_13_mu {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 1.744px;
		top: 10.378px;
	}
	#Ellipse_14_mv {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_14_mv {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 1.744px;
		top: 12.378px;
	}
	#Ellipse_15_mw {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_15_mw {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 12.744px;
		top: 6.378px;
	}
	#Ellipse_16_mx {
		fill: rgba(71,55,187,1);
	}
	.Ellipse_16_mx {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 1px;
		left: 12.744px;
		top: 7.378px;
	}
	#Path_73_my {
		fill: rgba(71,55,187,1);
	}
	.Path_73_my {
		overflow: visible;
		position: absolute;
		width: 25.333px;
		height: 22.378px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_74_mz {
		fill: rgba(71,55,187,1);
	}
	.Path_74_mz {
		overflow: visible;
		position: absolute;
		width: 6.756px;
		height: 6.755px;
		left: 14.777px;
		top: 4.222px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_75_m {
		fill: rgba(71,55,187,1);
	}
	.Path_75_m {
		overflow: visible;
		position: absolute;
		width: 9.289px;
		height: 9.289px;
		left: 13.511px;
		top: 2.956px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_76_m {
		fill: rgba(71,55,187,1);
	}
	.Path_76_m {
		overflow: visible;
		position: absolute;
		width: 13.511px;
		height: 7.6px;
		left: 10.133px;
		top: 13.089px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_77_m {
		fill: rgba(71,55,187,1);
	}
	.Path_77_m {
		overflow: visible;
		position: absolute;
		width: 5.066px;
		height: 3.8px;
		left: 4.222px;
		top: 16.466px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_78_m {
		fill: rgba(71,55,187,1);
	}
	.Path_78_m {
		overflow: visible;
		position: absolute;
		width: 2.955px;
		height: 2.956px;
		left: 2.955px;
		top: 10.978px;
		transform: matrix(1,0,0,1,0,0);
	}
	#case_m {
		position: absolute;
		width: 153.348px;
		height: 32px;
		left: 445.667px;
		top: 88.071px;
		overflow: visible;
	}
	#OBUDOWY_m {
		left: 35.348px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 119px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#cpu_1_m {
		position: absolute;
		width: 15.935px;
		height: 26px;
		left: 0px;
		top: 3px;
		overflow: visible;
	}
	#Path_79_m {
		fill: rgba(71,55,187,1);
	}
	.Path_79_m {
		overflow: visible;
		position: absolute;
		width: 15.936px;
		height: 26px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_80_m {
		fill: rgba(71,55,187,1);
	}
	.Path_80_m {
		overflow: visible;
		position: absolute;
		width: 5.032px;
		height: 4.529px;
		left: 5.451px;
		top: 5.116px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_81_m {
		fill: rgba(71,55,187,1);
	}
	.Path_81_m {
		overflow: visible;
		position: absolute;
		width: 0.839px;
		height: 2.516px;
		left: 7.548px;
		top: 3.774px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_82_na {
		fill: rgba(71,55,187,1);
	}
	.Path_82_na {
		overflow: visible;
		position: absolute;
		width: 0.839px;
		height: 0.839px;
		left: 10.064px;
		top: 14.258px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_83_nb {
		fill: rgba(71,55,187,1);
	}
	.Path_83_nb {
		overflow: visible;
		position: absolute;
		width: 0.839px;
		height: 0.839px;
		left: 11.742px;
		top: 14.258px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_84_nc {
		fill: rgba(71,55,187,1);
	}
	.Path_84_nc {
		overflow: visible;
		position: absolute;
		width: 3.354px;
		height: 3.355px;
		left: 6.29px;
		top: 19.71px;
		transform: matrix(1,0,0,1,0,0);
	}
	#keyboard_nd {
		position: absolute;
		width: 182.348px;
		height: 32px;
		left: 437.667px;
		top: 131.071px;
		overflow: visible;
	}
	#KLAWIATURY_ne {
		left: 43.348px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 140px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#keyboard_nf {
		position: absolute;
		width: 31.667px;
		height: 16.894px;
		left: 0px;
		top: 9.188px;
		overflow: visible;
	}
	#Path_85_ng {
		fill: rgba(71,55,187,1);
	}
	.Path_85_ng {
		overflow: visible;
		position: absolute;
		width: 23.255px;
		height: 16.894px;
		left: 8.412px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_86_nh {
		fill: rgba(71,55,187,1);
	}
	.Path_86_nh {
		overflow: visible;
		position: absolute;
		width: 23.255px;
		height: 16.894px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_87_ni {
		fill: rgba(71,55,187,1);
	}
	.Path_87_ni {
		overflow: visible;
		position: absolute;
		width: 27.216px;
		height: 11.444px;
		left: 2.226px;
		top: 2.725px;
		transform: matrix(1,0,0,1,0,0);
	}
	#mouse_nj {
		position: absolute;
		width: 114.347px;
		height: 32px;
		left: 874.667px;
		top: 2.071px;
		overflow: visible;
	}
	#MYSZKI_nk {
		left: 32.348px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 83px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#mouse_nl {
		position: absolute;
		width: 19.013px;
		height: 27px;
		left: 0px;
		top: 3.929px;
		overflow: visible;
	}
	#Group_21_nm {
		position: absolute;
		width: 19.013px;
		height: 27px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_20_nn {
		position: absolute;
		width: 19.013px;
		height: 27px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_88_no {
		fill: rgba(71,55,187,1);
	}
	.Path_88_no {
		overflow: visible;
		position: absolute;
		width: 19.014px;
		height: 27px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_23_np {
		position: absolute;
		width: 1.788px;
		height: 4.917px;
		left: 8.613px;
		top: 7.391px;
		overflow: visible;
	}
	#Group_22_nq {
		position: absolute;
		width: 1.788px;
		height: 4.917px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_89_nr {
		fill: rgba(71,55,187,1);
	}
	.Path_89_nr {
		overflow: visible;
		position: absolute;
		width: 1.788px;
		height: 4.917px;
		left: -0.001px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#monitor_ns {
		position: absolute;
		width: 156.075px;
		height: 32px;
		left: 871.939px;
		top: 45.071px;
		overflow: visible;
	}
	#MONITORY_nt {
		left: 35.075px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 122px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#monitor_nu {
		position: absolute;
		width: 24.468px;
		height: 22.078px;
		left: 0px;
		top: 5.851px;
		overflow: visible;
	}
	#Path_90_nv {
		fill: rgba(71,55,187,1);
	}
	.Path_90_nv {
		overflow: visible;
		position: absolute;
		width: 24.468px;
		height: 22.078px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#mousepad_nw {
		position: absolute;
		width: 163.348px;
		height: 32px;
		left: 869.667px;
		top: 88.071px;
		overflow: visible;
	}
	#PODKADKI_nx {
		left: 37.348px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 127px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#mousepad_ny {
		position: absolute;
		width: 28.333px;
		height: 21.876px;
		left: 0px;
		top: 4.696px;
		overflow: visible;
	}
	#Path_91_nz {
		fill: rgba(71,55,187,1);
	}
	.Path_91_nz {
		overflow: visible;
		position: absolute;
		width: 28.333px;
		height: 21.876px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_92_n {
		fill: rgba(71,55,187,1);
	}
	.Path_92_n {
		overflow: visible;
		position: absolute;
		width: 13.708px;
		height: 14.64px;
		left: 9.398px;
		top: 3.618px;
		transform: matrix(1,0,0,1,0,0);
	}
	#cables_n {
		position: absolute;
		width: 196.015px;
		height: 42px;
		left: 874px;
		top: 131.071px;
		overflow: visible;
	}
	#OKABLOWANIE__n {
		left: 33.015px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 164px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#cable_n {
		position: absolute;
		width: 19.667px;
		height: 21.852px;
		left: 0px;
		top: 6.077px;
		overflow: visible;
	}
	#Group_24_n {
		position: absolute;
		width: 19.667px;
		height: 21.852px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_93_n {
		fill: rgba(71,55,187,1);
	}
	.Path_93_n {
		overflow: visible;
		position: absolute;
		width: 19.667px;
		height: 21.852px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#streaming_n {
		position: absolute;
		width: 187.348px;
		height: 34.071px;
		left: 1275.667px;
		top: 0px;
		overflow: visible;
	}
	#STREAMING {
		left: 57.348px;
		top: 2.071px;
		position: absolute;
		overflow: visible;
		width: 131px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#live-streaming_n {
		position: absolute;
		width: 43.045px;
		height: 32.15px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_94_n {
		fill: rgba(71,55,187,1);
	}
	.Path_94_n {
		overflow: visible;
		position: absolute;
		width: 43.045px;
		height: 23.298px;
		left: 0px;
		top: 8.852px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_95_oa {
		fill: rgba(71,55,187,1);
	}
	.Path_95_oa {
		overflow: visible;
		position: absolute;
		width: 9.991px;
		height: 11.087px;
		left: 15.872px;
		top: 14.958px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_96_ob {
		fill: rgba(71,55,187,1);
	}
	.Path_96_ob {
		overflow: visible;
		position: absolute;
		width: 2.85px;
		height: 1.261px;
		left: 5.166px;
		top: 11.713px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_97_oc {
		fill: rgba(71,55,187,1);
	}
	.Path_97_oc {
		overflow: visible;
		position: absolute;
		width: 2.85px;
		height: 1.261px;
		left: 5.166px;
		top: 14.043px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_98_od {
		fill: rgba(71,55,187,1);
	}
	.Path_98_od {
		overflow: visible;
		position: absolute;
		width: 4.052px;
		height: 1.876px;
		left: 19.496px;
		top: 7.491px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_99_oe {
		fill: rgba(71,55,187,1);
	}
	.Path_99_oe {
		overflow: visible;
		position: absolute;
		width: 7.727px;
		height: 2.683px;
		left: 17.659px;
		top: 4.994px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_100_of {
		fill: rgba(71,55,187,1);
	}
	.Path_100_of {
		overflow: visible;
		position: absolute;
		width: 7.172px;
		height: 3.49px;
		left: 15.822px;
		top: 2.497px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_101_og {
		fill: rgba(71,55,187,1);
	}
	.Path_101_og {
		overflow: visible;
		position: absolute;
		width: 2.716px;
		height: 2.463px;
		left: 24.507px;
		top: 3.524px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_102_oh {
		fill: rgba(71,55,187,1);
	}
	.Path_102_oh {
		overflow: visible;
		position: absolute;
		width: 15.075px;
		height: 4.298px;
		left: 13.984px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#router_oi {
		position: absolute;
		width: 150.309px;
		height: 32px;
		left: 1283.706px;
		top: 45.071px;
		overflow: visible;
	}
	#ROUTERY_oj {
		left: 49.309px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 102px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#wifi-router_ok {
		position: absolute;
		width: 26.966px;
		height: 25.333px;
		left: 0px;
		top: 2.596px;
		overflow: visible;
	}
	#Path_103_ol {
		fill: rgba(71,55,187,1);
	}
	.Path_103_ol {
		overflow: visible;
		position: absolute;
		width: 26.966px;
		height: 22.173px;
		left: 0px;
		top: 3.16px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_104_om {
		fill: rgba(71,55,187,1);
	}
	.Path_104_om {
		overflow: visible;
		position: absolute;
		width: 3.808px;
		height: 2.044px;
		left: 11.579px;
		top: 9.48px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_105_on {
		fill: rgba(71,55,187,1);
	}
	.Path_105_on {
		overflow: visible;
		position: absolute;
		width: 17.223px;
		height: 4.823px;
		left: 4.871px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_106_oo {
		fill: rgba(71,55,187,1);
	}
	.Path_106_oo {
		overflow: visible;
		position: absolute;
		width: 12.752px;
		height: 3.897px;
		left: 7.107px;
		top: 3.16px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_107_op {
		fill: rgba(71,55,187,1);
	}
	.Path_107_op {
		overflow: visible;
		position: absolute;
		width: 8.28px;
		height: 2.97px;
		left: 9.343px;
		top: 6.32px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_108_oq {
		fill: rgba(71,55,187,1);
	}
	.Path_108_oq {
		overflow: visible;
		position: absolute;
		width: 1.58px;
		height: 3.16px;
		left: 15.853px;
		top: 17.38px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_109_or {
		fill: rgba(71,55,187,1);
	}
	.Path_109_or {
		overflow: visible;
		position: absolute;
		width: 1.58px;
		height: 3.16px;
		left: 19.013px;
		top: 17.38px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_110_os {
		fill: rgba(71,55,187,1);
	}
	.Path_110_os {
		overflow: visible;
		position: absolute;
		width: 1.58px;
		height: 3.16px;
		left: 22.173px;
		top: 17.38px;
		transform: matrix(1,0,0,1,0,0);
	}
	#headphones_ot {
		position: absolute;
		width: 179.646px;
		height: 32px;
		left: 1282.368px;
		top: 88.071px;
		overflow: visible;
	}
	#SUCHAWKI_ou {
		left: 50.646px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 130px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#headphones_ov {
		position: absolute;
		width: 29.643px;
		height: 26.053px;
		left: 0px;
		top: 3.446px;
		overflow: visible;
	}
	#Group_26_ow {
		position: absolute;
		width: 29.643px;
		height: 24.316px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Group_25_ox {
		position: absolute;
		width: 29.643px;
		height: 24.316px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_111_oy {
		fill: rgba(71,55,187,1);
	}
	.Path_111_oy {
		overflow: visible;
		position: absolute;
		width: 29.643px;
		height: 24.316px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_28_oz {
		position: absolute;
		width: 3.474px;
		height: 12.158px;
		left: 5.211px;
		top: 13.895px;
		overflow: visible;
	}
	#Group_27_o {
		position: absolute;
		width: 3.474px;
		height: 12.158px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_112_o {
		fill: rgba(71,55,187,1);
	}
	.Path_112_o {
		overflow: visible;
		position: absolute;
		width: 3.474px;
		height: 12.158px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_30_o {
		position: absolute;
		width: 3.474px;
		height: 12.158px;
		left: 20.958px;
		top: 13.895px;
		overflow: visible;
	}
	#Group_29_o {
		position: absolute;
		width: 3.474px;
		height: 12.158px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_113_o {
		fill: rgba(71,55,187,1);
	}
	.Path_113_o {
		overflow: visible;
		position: absolute;
		width: 3.474px;
		height: 12.158px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#microphone_o {
		position: absolute;
		width: 180.015px;
		height: 32px;
		left: 1288px;
		top: 131.071px;
		overflow: visible;
	}
	#MIKROFONY_o {
		left: 45.015px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 136px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		color: rgba(102,91,185,1);
	}
	#microphone_pa {
		position: absolute;
		width: 17.632px;
		height: 27.194px;
		left: 0px;
		top: 1.735px;
		overflow: visible;
	}
	#Path_114_o {
		fill: rgba(71,55,187,1);
	}
	.Path_114_o {
		overflow: visible;
		position: absolute;
		width: 17.632px;
		height: 13.394px;
		left: 0px;
		top: 13.8px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_115_o {
		fill: rgba(71,55,187,1);
	}
	.Path_115_o {
		overflow: visible;
		position: absolute;
		width: 10.385px;
		height: 19.804px;
		left: 3.623px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Top_pa {
		position: absolute;
		width: 1920px;
		height: 121px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#TopBG_pc {
		fill: url(#TopBG_pc);
	}
	.TopBG_pc {
		overflow: visible;
		position: absolute;
		width: 1920px;
		height: 83px;
		left: 0px;
		top: 19.097px;
		transform: matrix(1,0,0,1,0,0);
	}
	#TopContent_pd {
		position: absolute;
		width: 1715.682px;
		height: 121px;
		left: 100px;
		top: 0px;
		overflow: visible;
	}
	#Bucket_pe {
		position: absolute;
		width: 45.682px;
		height: 54.25px;
		left: 1670px;
		top: 33.736px;
		overflow: visible;
	}
	#shopping-basket_pf {
		position: absolute;
		width: 45.682px;
		height: 39.965px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_3_pg {
		fill: rgba(255,255,255,1);
	}
	.Path_3_pg {
		overflow: visible;
		position: absolute;
		width: 4.148px;
		height: 11.064px;
		left: 28.859px;
		top: 23.37px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_4_ph {
		fill: rgba(255,255,255,1);
	}
	.Path_4_ph {
		overflow: visible;
		position: absolute;
		width: 4.149px;
		height: 11.064px;
		left: 12.762px;
		top: 23.37px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5_pi {
		fill: rgba(255,255,255,1);
	}
	.Path_5_pi {
		overflow: visible;
		position: absolute;
		width: 45.682px;
		height: 39.965px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_6_pj {
		fill: rgba(255,255,255,1);
	}
	.Path_6_pj {
		overflow: visible;
		position: absolute;
		width: 2.766px;
		height: 11.063px;
		left: 21.458px;
		top: 23.37px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Koszyk_pk {
		left: 7.616px;
		top: 39.25px;
		position: absolute;
		overflow: visible;
		width: 32px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: lighter;
		font-size: 11px;
		color: rgba(255,255,255,1);
	}
	#Menu_pl {
		position: absolute;
		width: 39.742px;
		height: 43.702px;
		left: 0px;
		top: 43.783px;
		overflow: visible;
		transition: all 0.3s ease-in-out;
		--web-animation: fadein 0.3s ease-in-out;
		--web-action-type: view;
		--web-action-target: Main_Page;
		cursor: pointer;
	}
	#MenuIcon_pm {
		position: absolute;
		width: 39.742px;
		height: 28.702px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_23_pn {
		fill: rgba(255,255,255,1);
	}
	.Path_23_pn {
		overflow: visible;
		position: absolute;
		width: 39.742px;
		height: 3.312px;
		left: 0px;
		top: 12.695px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_24_po {
		fill: rgba(255,255,255,1);
	}
	.Path_24_po {
		overflow: visible;
		position: absolute;
		width: 39.742px;
		height: 3.312px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_25_pp {
		fill: rgba(255,255,255,1);
	}
	.Path_25_pp {
		overflow: visible;
		position: absolute;
		width: 39.742px;
		height: 3.312px;
		left: 0px;
		top: 25.391px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Menu_pq {
		left: 6.871px;
		top: 28.702px;
		position: absolute;
		overflow: visible;
		width: 27px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: lighter;
		font-size: 11px;
		color: rgba(255,255,255,1);
	}
	#TopText_pr {
		position: absolute;
		width: 218px;
		height: 121px;
		left: 760px;
		top: 0px;
		overflow: visible;
	}
	#Logo_ps {
		position: absolute;
		width: 218px;
		height: 121px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#TextBG_pt {
		fill: rgba(255,255,255,1);
	}
	.TextBG_pt {
		overflow: visible;
		position: absolute;
		width: 191.488px;
		height: 84.769px;
		left: 26.512px;
		top: 18.116px;
		transform: matrix(1,0,0,1,0,0);
	}
	#INET_pu {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 187px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 91px;
		color: rgba(255,255,255,1);
	}
}