<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - INET Online Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/MyCss.css"/>
    <link href="~/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>
<body style="background-image: url(/images/background.png); background-repeat: no-repeat;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="nav navbar-nav flex-grow-1">
                        <li class="nav-item active">
                            <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Main_Page"><i class="fa fa-home fa-lg"></i> INET</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact"><i class="fa fa-phone-square fa-lg"></i> Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About"><i class="fa fa-users fa-lg"></i> O nas</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item border-right">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Dashboard"><i class="fa fa-user-ninja fa-lg"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Cart"><i class="fa fa-shopping-cart fa-lg"></i> Koszyk</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" >
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                &copy; 2021 - INET Online Shop - <a asp-area="" class="btn btn-dark btn-sm" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
                <a asp-area="" class="btn btn-dark btn-sm" asp-controller="Home" asp-action="Replacements">Reklamacje i zwroty</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
